body {
    background-color:grey;
}

h1 {
    margin-bottom: 0.5em;
}

form li { 
    list-style-type:none; 
}

.container {
    background-color:white;
    height: 768px;
}

#content {
    height: 640px;
}

.cfmilogo {
    float: left;
    vertical-align: middle;
}

#logotext {
    font-size: 36px;
    float: right;
    margin-right: 1em;
    margin-top: 12px;
}

#projects {
    max-height: 100%;
    overflow: auto;
}

#subject_container {
    position:relative;
    font-size: 14px;
    height: 100%;
}

#subject_detail {
    overflow:auto;
    max-height: 510px;
}

#subject_container li,span {
    font-size: 12px;
    font-style: italic;
}

.box {
    -moz-border-radius: 15px;
    border-radius: 15px;
    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;
    margin: 1em;
    margin-left: 1em;
    margin-right: 1em;
    padding:0.5em;
    padding-left: 0.75em;
}

.box p {
    margin-bottom: 0.5em;
}

#logoutbutton
{
   font-size:14px;
   border-style:none;
}

#logoutform {
    position: absolute;
    bottom: -45px;
    right: 0px;
}

#login_box {
    position: relative;
    left: 40%;
}

#login_box form {
    padding-top: 2px;
    padding-left: 20px;
}

.lit {
    background-color:#66CCFF;
}
