

/* Specfic to Imaging app */

#projects .subcontent {
    max-height: 680px;
    overflow: auto;
    padding: 0 15px 15px 15px;
}

#subject_detail .subcontent {
    max-height: 500px;
    overflow: auto;
}