import os

## Flask Settings

SECRET_KEY = ''
DEBUG = True
TESTING = True
SERVER_NAME = 'localhost.devel:5000'

## Database Settings
SQLALCHEMY_DATABASE_URI = \
    ''

SQLALCHEMY_BINDS = {'dicom':
    ''}

## Cache settings
from flaskext.cache import Cache
cache = Cache()
if TESTING:
    CACHE_TYPE = 'simple'
else:
    CACHE_TYPE = 'memcached'
    CACHE_MEMCACHED_SERVERS = ('localhost:11211',)

## File Paths
TMP_PATH = '/tmp/'
BASE_PATH = "/".join(os.path.abspath(__file__).split("/")[:-1])
LDAP_PASSWD = "/".join([BASE_PATH,"ldap_passwd"])

## Imaging Settings
DICOM_ARCHIVE_FOLDER = BASE_PATH+'/dicom/'
IMAGING_EMAIL = "imaging@cfmi.georgetown.edu"

## Billing Settings
BILLING_EMAIL = "cfmiadmin@georgetown.edu"

## LDAP Settings
LDAP_URI = "ldap://ldap.fqdn"
LDAP_USER_DN_TEMPLATE = \
    "uid={},cn=users,cn=accounts,dc=your,dc=site,dc=com"
