/**
 * Primary styles
 *
 * Author: Shawn Nock nock@nocko.org 
 */

header h1 {
    font-size:48px;
    font-family: 'Cardo', arial, serif;
    float:left;
    position:absolute;
    top:85px;
    left:10px;
}

header {
    position:relative;
}

body {
    margin:15px 15px;
    background:#c6c3be;
}

.contentbox h1 {
    padding:5px;
    margin:0;
    background-color:#89a1ba;
    font-size:x-large;
    font-family: 'Cardo', arial, serif;
    -moz-border-radius: 5px;
    border-radius: 5px;
    line-height:29px;
    font-style:none;
    font-weight:normal;
}

.contentbox {
    background:#fff;
    width: 100%;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.contentbox em {
    font-style:italic;
}

.subcontent {
    padding:15px;
}

header {
    float:left;
}

#nav {
    height:36px;
    width:950px;
    margin:-2px 0 2px 0;
    padding:0;
    float:left;
}

#nav a {
    background:#89a1ba;
    width:190px;
    height:36px;
    float:left;
    text-align:center;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: 'Cardo', arial, serif;
    font-size:x-large;
    text-decoration:none;
    color:#000;
    line-height:36px;
}

a.button {
    background:#89a1ba;
    text-align:center;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-decoration:none;
    color:#000;
    height:18px;
    display:block;
    line-height:18px;
    float:left;
    padding:0 3px;
    margin:1px 1px;
}

a.button:hover {
    background:#b9c6d2;
}

#nav a:hover {
    background:#b9c6d2;
}

/* messages div */

#messages {
    float:left;
    display:block;
    width:946px;
    height:36px;
    margin:-2px 0 2px 0;
    line-height:32px;
    padding:0;
}

/* Specfic to Imaging app */

.subcontent {
    max-height: 640px;
    overflow: auto;
}

#subject_detail .subcontent {
    max-height:525px;
}

#subject_container li,span {
    font-size: 12px;
    font-style: italic;
}

form li { 
    list-style-type:none; 
}

#login_box label {
    float: left;
    text-align: right;
    margin-right: 25px;
    width: 150px;
    padding-top:10px;
}

#login_box input[type="submit"] {
    margin-left: 175px;
    margin-top:0;
}

#subject_detail input {
    margin-left:5px;
}