{% macro render_project(project, date, title) %}
<div class="contentbox">
  <h1>{% if title %}{{ title }}: {% endif %}{{ project }}<span class="return-link">
      {{ date.strftime("%b. %Y") }}</span></h1>
  <hr class="printonly" />
  <div class="subcontent">
  <em class="noprint">PI: {{ project.pi.name }} <br /></em>
  {% if project.rx_num %}
    {% if project.rx_num.startswith("RX") %}
  PO Num: {{ project.rx_num }}
    {% else %}
  Ref. Num: {{ project.rx_num }}
    {% endif %}
  {% endif %}
  <div class="subcontent">
    <table class="table table-condensed">
      <thead>
        <th>Session</th>
        <th>Subject ID</th>
        <th>Scheduled By:</th>
        <th>Duration</th>
        <th>Cost</th>
      </thead>
      <tbody>
      {% for scan in project.invoice_scans(date.year, date.month) %}
      <tr>
        <td>{{ render_session(scan) }}</td>
        <td>{{ scan.subject.name }}</td>
        <td>{{ print_user(scan.user) }}</td>
        <td>{{ scan.dur_hours() }} hrs. 
          {% if scan.is_corrected() %}
          <a href="{{ url_for('billing.problem', session_id=scan.id) }}">*</a>{% endif %}</td>
        <td>{{ scan.cost() }} USD </td>
      </tr>
      {% endfor %}
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Total Cost:</td>
        <td>{{ project.invoice_total(date.year, date.month) }} USD </td>
      </tr>
      </tbody>
    </table>
    </div>
  </div>
</div>
{%- endmacro %} 

{% macro print_user(user) %}
    {%- if user.name %}
        {{- user.name }}
    {%- else %}
        {{- user.username }}
    {%- endif %}
{%- endmacro %}

{% macro render_session(scan) -%}
<a href="{{ url_for('billing.edit_session', session_id=scan.id) }}">
  {{ scan.sched_start.strftime("%m/%d/%Y %H:%M") }} - 
  {{ scan.sched_end.strftime("%H:%M") }}
</a>
{% endmacro %}

