{% extends "billing.html" %}
{% from "_macros.html" import print_user %}

{% block title %}Reconcile{% endblock %}

{% block content %}
<div class="contentbox">
  <h1>Outstanding Invoices</h1>
  <div class="subcontent">
    <table>
      <tr>
        <th>Project:</th>
        <th>Invoice Date:</th>
        <th>PI:</th>
        <th>Actions:</th>
      </tr>
      {% for inv in invoice_list %}
      <tr id="{{ inv.id }}">
        <td>{{ inv.project.shortname(65) }}</td>
        <td>{{ inv.date.strftime("%b %Y") }}</td>
        <td>{{ print_user(inv.project.pi) }}</td>
        <td>
          <a class="inv_link button" href="/invoice/{{ inv.id }}/">View</a>
          <a class="inv_link button" href="/invoice/{{ inv.id }}/delete">Delete</a>
          <a class="inv_link button" href="/invoice/{{ inv.id }}/notify">Notify</a>
          <a class="inv_link button" href="/invoice/{{ inv.id }}/paid">Paid</a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
