{% extends "billing.html" %}
{% from "_macros.html" import print_user %}

{% block title %}Session #{{ scan.id }}{% endblock %}

{% block content %}

<div class="contentbox">
  <h1>Session #{{ scan.id }}: {{ scan.sched_start.strftime("%m/%d/%Y
  %H:%M") }}</h1>
  <div class="subcontent">
    <div>
      <span class="session_label">Start</span>
      {% if scan.start %}
      <span class="session_value">{{ scan.start }}</span>
      {% else %}
      <span class="session_value">{{ scan.sched_start }}</span>
      {% endif %}
    </div>
    <div>
      <span class="session_label">End</span>
      {% if scan.end %}
      <span class="session_value">{{ scan.end }}</span>
      {% else %}
      <span class="session_value">{{ scan.sched_end }}</span>
      {% endif %}
    </div>
    <div>
      <span class="session_label">Project</span>
      <span class="session_value">{{ scan.project.shortname() }}</span>
    </div>
    <div>
      <span class="session_label">Scheduled by</span>
      <span class="session_value">{{ print_user(scan.user) }}</span>
    </div>
    <div>
      <span class="session_label">Subject</span>
      <span class="session_value">{{ scan.subject.name }}</span>
    </div>
    <div>
      <span class="session_label">Session Log</span>
      <textarea id="session_notes" disabled="disabled">{{ scan.notes }}</textarea>
    </div>
    <span class="return-link"><a class="button" href="{{ url_for('billing.problem', session_id=scan.id) }}">Report Problem</a></span>
  </div>
</div>

{% endblock %}
