.ui-datepicker-calendar {
    display: none;
}

.packed_4_col {
    float:left;
    width:210px;
    list-style-type:none;
}

.packed_2_col {
    float:left;
    width:420px;
    list-style-type:none;
}

body {
    margin:15px 15px;
    background:#c6c3be;
}

.contentbox h1 {
    padding:5px;
    margin:0;
    background-color:#628CB9;
}

.contentbox {
    background:#fff;
    float:left;
    width: 100%;
}

.contentbox p {
    padding:0 5px;
    font-size:18px;
    margin:0;
}

.contentbox img {
    padding: 5px 0 0 0;
}

.contentbox em {
    padding:5px;
}

.return-link {
    float:right;
}

form div {
    margin: 0.5em;
    float: left;
    width: 100%;
}

#correction {
    text-align:center;
}

label {
    float: left;
    text-align: right;
    margin-right: 25px;
    width: 150px;
}

textarea {
    width:700px;
}

form input[type="submit"] {
    margin-left: 175px;
}

#nav {
    height:36px;
    width:950px;
    margin:3px 0;
    padding:0;
    float: left;
}

#nav a {
    background-image: url('/static/nav_sprite.png');
    width:190px;
    height:36px;
    float:left;
}

#browse {
    background-position: 0 0;
}

#reconcile {
    background-position: -190px 0;
}

#stats {
    background-position: -380px 0;
}

#batch {
    background-position: -570px 0;
}

#home {
    background-position: -760px 0;
}
  
#browse:hover {
    background-position:0 -39px;
}

#reconcile:hover {
    background-position: -190px -39px;
}

#stats:hover {
    background-position: -380px -39px;
}

#batch:hover {
    background-position: -570px -39px;
}

#home:hover {
    background-position: -760px -39px;
}

#header {
    height:144px;
}

.batchform input[type=button] {
    margin:5px auto;
    display:block;
    width:50%;
}

#stat_scanner {
    margin:5px 0 0 0;
}