{% extends "layout.html" %}

{% block js %}
<script type="text/javascript">
<!--

function checker() {
    $.ajax({type: 'HEAD', url: '{{ url }}'}).success(
        function () {
            window.location.href = '{{ url }}';
        }).error(
        function () {
            setTimeout(checker, 5000);
        });
}

$(document).ready(checker)

//-->
</script>
{% endblock %}

{% block content %}
<div class="span-24">
  <div class="contentbox">
    <h1>We're processing your files.</h1>
    <div class="subcontent">
      <p>This could take some time. You will be notified by e-mail when this processing is complete and
      your file is ready for download. </p>

      <p>The email address we have on file for you is: 
        <em>{{ g.user.email }}</em> .<br /> If this is incorrect please
        update it
        <a href="http://cfmi.georgetown.edu/secured/profile.php">here</a>.</p>
      
    <p>If choose to stick around, this page will redirect you to the file
      when it is available. The file will eventually be available for
      download <a href="{{ url }}">here</a></p>
    </div>
  </div>
</div>
{% endblock %}
