{% extends "layout.html" %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('imaging.static', filename="css/style.css") }}?v=2">
{% endblock %}

{% block name %}Imaging{% endblock %}

{% block nav %}
	<li class="active"><a href="{{ url_for('imaging.index') }}">Imaging</a></li>
	<li><a href="https://cfmi.georgetown.edu/secured/">Scheduling</a></li>
	<li><a href="{{ url_for('billing.index') }}">Billing</a></li>
{% endblock %}

{% block content %}
<div class="row">
  <div id="projects" class="span6 contentbox">
    <h1>Projects</h1>
    <div class="subcontent">
      <dl>
        {% for project in g.user.get_projects() %}
        <dt><a href="javascript:void true;">{{ project.shortname() }}</a></dt>
        <dd>
          <div id="project_{{ project.id }}">
            <ul>
            </ul>
          </div>
        </dd>
        {% endfor %}
      </dl>
    </div>
  </div>
  <div id="subject_container" class="span6">
    
    <div id="subject_detail" class="contentbox">
      <h1>Subject Detail</h1>
      <div class="subcontent">
	<p>Name: <span id="subject_name"></span></p>
	<p><span id="subject_download"></span></p>
	<div id="subject_series">
	</div>
      </div>
    </div>
    <div id="series_detail" class="contentbox">
      <h1>Series Detail</h1>
      <div class="subcontent">
	<p>Date: <span id="date"></span></p>
	<p>Program: <span id="program"></span></p>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('imaging.static', filename='js/script.js') }}"></script>
{% endblock %}
