{% extends "layout.html" %}

{% block title %}Invoice - {{ invoice.project }} - {{ invoice.date.strftime("%b %Y")}}{% endblock %}

{% block content %}
<div class="contentbox">
  <h1>Invoice: {{ invoice.project }}</h1>
  <em>PI: {{ invoice.project.pi.name }}; {{ invoice.date.strftime("%b %Y") }}</em>
  <div class="subcontent">
    <table class="invoice">
      <tr>
        <td>Session</td>
        <td>Project</td>
        <td>Subject ID</td>
        <td>Scheduled By:</td>
        <td>Duration</td>
        <td>Cost</td>
      </tr>
      {% for scan in invoice.sessions() %}
      <tr>
        <td>
          <a href="{{ url_for('edit_session', session_id=scan.id) }}">
            {{ scan.sched_start.strftime("%m/%d/%Y %H:%M") }} - {{ scan.sched_end.strftime("%H:%M") }}</a>
        </td>
        <td>{{ scan.project.shortname() }}</td>
        <td>{{ scan.subject.name }}</td>
        <td>{{ scan.user.username }}</td>
        <td>{{ scan.dur_hours() }} hrs. 
          {% if scan.is_corrected() %}
          <a href="{{ url_for('problem', id=scan.id) }}">*</a>{% endif %}</td>
        <td>{{ scan.cost() }} USD </td>
      </tr>
      {% endfor %}
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Total Cost:</td>
        <td>{{ total }} USD </td>
      </tr>
    </table>
  </div>
{% endblock %}
