{% extends "layout.html" %}

{% block title %}Invoice - {{ invoice.project }} - {{ invoice.date.strftime("%b %Y")}}{% endblock %}

{% block content %}
<div class="contentbox">
  <h1>Invoice: {{ invoice.project }}<span class="return-link">
      {{ invoice.date.strftime("%b. %Y") }}</span></h1>
  <div class="subcontent">
  <em>PI: {{ invoice.project.pi.name }}</em>
  <span class="return-link">
    <a class="button" href="print">Print</a>
  </span>
  {% if invoice.project.rx_num.startswith("RX") %}
    <br />RX Num: {{ invoice.project.rx_num }}
    {% endif %}
  <div class="subcontent">
    <table class="invoice">
      <tr>
        <th>Session</th>
        <th>Subject ID</th>
        <th>Scheduled By:</th>
        <th>Duration</th>
        <th>Cost</th>
      </tr>
      {% for scan in invoice.sessions() %}
      <tr>
        <td>
            {{ scan.sched_start.strftime("%m/%d/%Y %H:%M") }} - {{ scan.sched_end.strftime("%H:%M") }}
        </td>
        <td>{{ scan.subject.name }}</td>
        {% if scan.user.name %}
        <td>{{ scan.user.name }}</td>
        {% else %}
        <td>{{ scan.user.username }}</td>
        {% endif %}
        <td>{{ scan.dur_hours() }} hrs. 
          {% if scan.is_corrected() %}
          *{% endif %}</td>
        <td>{{ scan.cost() }} USD </td>
      </tr>
      {% endfor %}
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>Total Cost:</td>
        <td>{{ invoice.total() }} USD </td>
      </tr>
    </table>
    </div>
  </div>
{% endblock %}

{% block js %}
<script type="text/javascript">
  $("#nav").hide();
  window.print();
  $(".button").hide()
</script>
{% endblock %}
