{% extends "layout.html" %}

{% block title %}Billing Login{% endblock %}

{% block content %}
<div class="span-9"><div>
<div id="login_box" class="span-6 contentbox">
  <h1>Login</h1>
<form action="" method="post">
<label for="id_username">Username</label>
<input id="id_username" type="text" maxlength="30" name="username">
<br />
<label for="id_password">Password</label>
<input id="id_password" type="password" name="password">

<input class="submit" type="submit" value="Login">
<form>
<div>
<div class="span-9 last"
{% endblock %}
