{% extends "layout.html" %}

{% block title %}Billing Login{% endblock %}

{% block content %}
<div class="span-7 invisible">hidden</div>
<div class="span-10">
  <div id="login_box" class="contentbox">
    <h1>Login</h1>
    <div class="subcontent">
    <form action="" method="post">
      <label for="id_username">Username</label>
      <input id="id_username" type="text" maxlength="30"
             name="username">
      <br />
      <label for="id_password">Password</label>
      <input id="id_password" type="password" name="password">
      <input class="submit" type="submit" value="Login">
    </form>
    </div>
  </div>
</div>
<div class="span-7 last"></div>
{% endblock %}
