{% extends "layout.html" %}

{% block title %}
Problem Report - {{ scan.subject.name }}: {{ scan.sched_start|datef }}
{% endblock %}

{% block content %}
<h1>Problem Report: {{ scan }}</h1>
<em>{{ scan.project }} - {{ scan.subject }}</em>
<span class="return-link">
  <a href="{{ url_for('edit_session', id=scan.id) }}">
    Return to session</a> 
  <a href="/{{ url_for('pi_month_view', year=scan.sched_start.year, month=scan.sched_start.month, pi_uname=scan.project.pi.username) }}">Return to Invoice</a>
</span>
<hr />
<form action="" method="post">
{{ form.render()|safe }}
<div><input type="submit" value="Submit Report" /></div>
</form>
{% endblock %}
