{% extends "layout.html" %}

{% block title %}
Problem Report - {{ scan.subject.name }}: 
{{ scan.sched_start.strftime("%m/%d/%Y %H:%M") }}
{% endblock %}

{% block content %}
<div class="contentbox">
  <h1>Problem Report: {{ scan }}</h1>
  <em>{{ scan.project }} - {{ scan.subject }}</em>
  <span class="return-link">
    <a href="{{ url_for('edit_session', session_id=scan.id) }}">
      Return to session</a>
  </span>
  <hr />
  <form action="" method="post">
    {{ form.render()|safe }}
    <div><input type="submit" value="Submit Report" /></div>
  </form>
</div>
{% endblock %}
