/**
 * Primary styles
 *
 * Author: Shawn Nock nock@nocko.org 
 */

th {
    font-weight:bold;
    text-align:left;
}

.ui-datepicker-calendar {
    display: none;
}

.accordion {
    float:left;
}

.packed_4_col {
    float:left;
    width:210px;
    list-style-type:none;
}

.contentbox {
    float:left;
}

.contentbox p {
    font-size:large;
    margin:0;
}

.subcontent {
    padding:5px;
}

.return-link {
    float:right;
    text-align:right;
}

form div {
    margin: 0.5em;
    float: left;
    width: 100%;
}

label {
    float: left;
    text-align: right;
    margin-right: 25px;
    width: 150px;
    padding-top:10px;
}

textarea {
    width:700px;
    margin: 18px 0 0 0;
}

input, select  {
    margin:9px 0 0 0;
}

input[type="text"], input[type="password"], input.text, input.title, textarea, select {
    margin: 9px 0 0 0;
}

form input[type="submit"] {
    margin-left: 175px;
    margin-top:0;
}

.batchform input[type=button] {
    margin:5px auto;
    display:block;
    width:50%;
}

#stat_scanner {
    margin:5px 0 0 0;
}

/* Session styles */

.session_value {
    width:700px;
    display:block;
    float:right;
    margin:9px 0;
}

.session_label {
    text-align:right;
    display:block;
    width:200px;
    float:left;
    margin:9px 0;
    font-weight:bold;
}

textarea#session_notes {
    float:left;
    width:600px;
    font-size:12px;
    margin: 9px 0px 20px 40px;
}

/* User Problem Form Styles */

#userproblem textarea {
    width:500px;
    margin: 18px 0px;
}

#userproblem input[type=text] {
    margin:18px 0px;
}

#userproblem {
    margin-left:100px;
}
